<nav>
    <div class="site-title">
      <a href="/"><h1>Blog News</h1></a>
      <p>A News website</p>
    </div>
    <ul>
      <li><a href="/news">News</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/news/create">Create a News</a></li>
    </ul>
  </nav>