<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog News | <%= title %></title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <div class="site-title">
          <a href="/"><h1>Blog News</h1></a>
          <p>A News website</p>
        </div>
        <ul>
          <li><a href="/">News</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/news/create">Create a News</a></li>
        </ul>
      </nav>

  <h2>A little bit about us</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis gravida mi, non venenatis quam malesuada vel. Nam venenatis finibus convallis. Suspendisse potenti. Vestibulum in vestibulum mauris, in consectetur lectus. Duis urna arcu, porttitor vel nibh ac, fermentum consequat nibh. Ut non lectus commodo, varius massa vel, mollis ipsum. Cras porttitor convallis justo, ut vulputate ante dapibus a. Praesent quis arcu nunc. Maecenas ac ligula rhoncus, viverra sem varius, varius enim. Aliquam rutrum, neque at varius volutpat, sapien quam hendrerit lorem, et elementum metus libero eget urna. In vulputate, velit mattis volutpat fermentum, elit enim finibus odio, eu vulputate augue orci eget erat.

    Maecenas accumsan et sem at rutrum. Vivamus accumsan dolor ac nisl suscipit ultrices. Integer gravida ligula vulputate urna porttitor congue. Vivamus convallis auctor massa ut hendrerit. Aliquam aliquam nisi sit amet ultricies imperdiet. Suspendisse vel metus imperdiet, placerat sapien vitae, lacinia nunc. Vestibulum sed pretium sapien. In finibus auctor nisl, et malesuada lectus viverra quis. Sed non nunc sed velit convallis pulvinar. Fusce in urna congue, maximus ex et, pretium nibh. <br>
    <br>

    Morbi arcu purus, vestibulum non urna eu, varius dignissim nibh. Duis a mauris non sem semper aliquet. Nunc ut velit lacus. Phasellus congue arcu sit amet dui porta accumsan. Donec non magna nisl. Etiam lorem quam, faucibus ac nisi vel, efficitur fringilla sapien. Aliquam erat volutpat. Nam tempor, odio ut euismod pellentesque, lacus metus imperdiet urna, quis accumsan sapien tortor non eros. Sed pellentesque tortor ac augue efficitur, nec luctus orci tincidunt. Suspendisse sed gravida urna. Curabitur vehicula fringilla nisl, sit amet efficitur sapien rutrum non.
    <br>
    Pellentesque porta dui est, vel porta felis convallis a. Curabitur non porta metus, a ornare purus. Nam cursus nulla scelerisque turpis elementum, a eleifend tortor commodo. Proin eu interdum sem. Duis feugiat vel eros non ultricies. Integer fermentum luctus dapibus. Vivamus felis nisi, eleifend a tortor in, luctus volutpat lacus. Aenean pulvinar laoreet lacus ac vulputate. Nunc venenatis rutrum dignissim.

    Nam scelerisque sapien ac nibh commodo, id efficitur ligula semper. Maecenas euismod arcu ac enim iaculis interdum. Sed mollis magna a sodales commodo. Ut a neque urna. Fusce faucibus tincidunt dui, non commodo metus tristique in. Nam et ex in tellus viverra imperdiet. Proin ac magna rutrum, imperdiet felis quis, congue ligula. Sed varius massa et consequat efficitur. Pellentesque sit amet lectus molestie, mattis justo vitae, ullamcorper massa. Praesent ultricies tristique sapien. Nam volutpat pharetra blandit. Quisque dapibus lobortis lectus, ac fermentum nunc elementum nec. Quisque sed auctor leo. Phasellus eros ex, aliquet id sodales nec, faucibus sed augue. Sed consequat purus mi, sit amet volutpat arcu fringilla sit amet.
  </p>

  <%- include("./partials/footer.ejs") %>
</body>
</html>